@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Allerta)

/**
 * font-family: 'Montserrat', sans-serif;
 * font-family: 'Allerta', sans-serif;
 */
 body
 	font-family 'Allerta', sans-serif

.guitarras
	color #1f313c
	h2
		font-size 35px

.menu
	font-size 24px

.portada
	background-image url("../images/background.png")
	color white

.titulo
	font-family 'Montserrat', sans-serif
	font-size 70px

.titulo-a
	font-size 24px

.titulo-b
	font-size 50px
	
