@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Allerta)

/**
 * font-family: 'Montserrat', sans-serif;
 * font-family: 'Allerta', sans-serif;
 */
 
ANCHO_PAGINA = 800px;
COLOR_BOTON = #FE344E;
COLOR_BOTON2 = #FF7250;
COLOR_FUENTE = #1F313C;
COLOR_FOOTER = #273B47;
COLOR_FOOTER_LINK = #FFF;

body
 	font-family 'Allerta', sans-serif
 	margin 0

.button
	//background COLOR_BOTON
	background linear-gradient(to left, COLOR_BOTON, COLOR_BOTON2)
	border none
	border-radius 12px
	color white
	font-size 18px
	padding 7px 12px
	cursor pointer
	text-decoration none

footer
	background COLOR_FOOTER
	margin-top 10px
	.contenedor
		display flex
		justify-content space-between 
 
header 
	position relative

table, td, th 
	border 1px solid COLOR_FOOTER
	border-collapse collapse

table 
	width 100%

td 
	padding 20px
	
th 
	background COLOR_FOOTER
	color white
	padding 10px
	text-align rigth
	
.contacto
	display flex
	width 300px
	flex-wrap wrap
	align-items center
	img 
		display block
	strong
		display block
	a 
		color COLOR_FOOTER_LINK
		text-decoration	none
		margin 10px 10px 10px 0px


.col1, .col2
	display flex
	flex-direction column

.col1
	margin 15px

.col2
	align-items flex-start	

.contenedor 
	margin auto
	width ANCHO_PAGINA

.contenedor-guitarra-a
	padding-left 20px
	
.contenedor-guitarra-b
	margin-left 370px

.derecha 
	float right
	position relative
	top -127px

.formulario
	display flex
	widt 400px
	color white
	padding 50px 10px
	
	label, .sexo, .intereses
		margin-bottom 10px
	

.footer
	.contenedor
		display flex
		justify-content space-between 

.guitarra 	
	/*overflow hidden*/
	border 1px solid COLOR_FUENTE
	border-radius 8px
	margin 10px
	padding 10px
	ol 
		padding 0

.guitarras
	color COLOR_FUENTE
	h2
		font-size 35px
.intereses
	label
		font-size 12px
		
.izquierda
	float left
	position relative
	top 80px

.logotipo
	display inline-block
	margin-left 0

.menu
	font-size 24px
	display inline-block
	position absolute
	right 0
	a
		color white
		text-decoration none
	li 
		display inline-block
		margin-left 30px
		
		:before
			content '∘'
			color white

.portada
	background-image url("../images/background.png")
	background-size cover
	color white
	padding 20px
	height 500px
	button
		margin-bottom 70px

.sexo
	margin-top 10px
.titulo
	font-family 'Montserrat', sans-serif
	font-size 70px
	margin-bottom 0
	margin-top 70px
	span 
		text-decoration underline

.titulo-a
	font-size 24px
	margin-top 0

.titulo-b
	font-size 50px
	margin-bottom 20px
	
